* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

.artist-bio-page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.artist-bio-page__heading-group h1,
.artist-bio-page__heading-group p {
    margin: 0;
}

.artist-bio-page__main-bio-container {
    display: flex;
    gap: 1rem;
}

.artist-bio-page__bio-portrait {
    max-width: 10rem;
}

.artist-bio-page__bio-text-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.artist-bio-page__bio-text-container p {
    margin: 0;
}

.artist-bio-page__paintings-image-container {
    display: flex;
    gap: 1rem;
}

.artist-bio-page__paintings-image-container > * {
    flex: 1 1 33.33%;
}

.artist-bio-page__paintings-image-container img {
    border: 0.5rem ridge #9d7e66;
}